.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

.btn-toggle {
    width: 100%;
    text-align: left;
    color: #2e2e2e;
    font-weight: 500;
    font-size: 16px;
    padding: 20px;
    padding-right: 20px;
    padding-right: 100px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    position: relative;
    white-space: initial;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}

.btn-submit {
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background-color: $light-blue;

    padding: 12px 155px;
    transition: all .2 ease;

    &:hover {
        background-color: $blue-light;
    }
}

.red-button {
    // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    // padding: 2rem;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

}

.about_btn {
    border: 1px solid white;
    background-color: initial;
    width: 40%;
    margin: 0 auto;

    &:hover {
        background-color: $blue-light;
    }
}



.btn-small-fill {
    text-decoration: none;
    border-radius: 15px;
    width: 12rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    display: block;
    text-align: center;
    position: relative;
    // font-family: "paragraph-regular";


    background-color: $light-blue;
    font-size: $paragraph-small;
    background-size: 180%;
    background-position-x: -2rem;
    border-image: none;
    border-image-slice: 1;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        // transform: scale(1.003) translateZ(0);
        box-shadow: 0px 8px 70px rgba($main-golden, 0.2);

        background-position-x: -9rem;
    }
}


.setup_btn {
    padding: .5rem 0rem .5rem 0rem;
    width: 7rem !important;
    margin-right: -7vw;

    &:hover {
        box-shadow: 0px 8px 70px rgba($main-golden, 0.2);

        background-position-x: -4rem;
    }
}



.btn-save {
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #2E2E2E;
    background: #DEDEDE;
    border: 1px solid rgba(0, 0, 0, .04);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0;
    width: 140px;
    margin-top: 1rem;

    &:hover {
        background-color: $main-golden;
        color: white;
    }
}


.btn-primary {
    font-weight: 700;
    font-size: 16px;
    color: white;
    background: $light-blue;
    border-radius: 23px;
    padding: 12px 20px !important;
    border: 1px solid rgba(0, 0, 0, .04);
    min-width: 260px;
    outline: 0;

    &:hover {
        background-color: $main-golden;
        color: white;
    }
}