.select_country {
    display: flex;
    width: 100%;
    justify-content: space-between;


}

.col-md-6 {
    margin-right: -9px;
    width: 100%;
}

.col-md-5 {
    margin-left: -9px;
    width: 100%;

}

.btn-submit {
    padding: 12px 12px !important;
    width: 50%;
}