// $blue:#00A5FA;
$red:red;
// $light-blue:#42E8CC;
// $blue-light:#00A5FA;
$light-blue:#f7b900;
$blue-light:#f4d048;


$main-golden:#FFB000;


/// SECINDARY COLORS
$dark: #0c1013;
$blue-dark: #151f28;
$blue-darkless: #4d555b;
$dark-blue: #2a3eec;
$secondary-golden:#fabb34;


$blue-gradient-for-btns: linear-gradient(90deg, $main-golden 0%, $secondary-golden 100%);


$border-bottom: 1px solid rgba(128, 128, 128, 0.342);

$hover-on-nav: #151f28bd;


$box-shadow-for-navigation: 0px 20px 60px -24px rgba(0, 0, 0, 0.4);
$box-shadow-forcrypto-drowpdown: 0px 20px 70px -24px rgba(0, 0, 0, 0.2);