//// ==========GILROY
@font-face {
    font-family: "heading-big-black";
    src: url("./../assets/fonts/Gilroy/Gilroy-Bold.otf");
}

@font-face {
    font-family: "heading-big-bold";
    src: url("./../assets/fonts/Gilroy/Gilroy-Regular.otf");
}

@font-face {
    font-family: "heading-light";
    src: url("./../assets/fonts/Gilroy/Gilroy-Light.otf");
}



/// ====================== Noto

@font-face {
    font-family: "georgian-heading-regular";
    src: url("./../assets/fonts/Noto/NotoSansGeorgian-Regular.ttf");
}

@font-face {
    font-family: "georgian-heading-bold";
    src: url("./../assets/fonts/Noto/NotoSansGeorgian-Bold.ttf");
}

@font-face {
    font-family: "georgian-heading-light";
    src: url("./../assets/fonts/Noto/NotoSansGeorgian-Light.ttf");
}

@font-face {
    font-family: "georgian-heading-medium";
    src: url("./../assets/fonts/Noto/NotoSansGeorgian-Medium.ttf");
}

@font-face {
    font-family: "georgian-heading-black";
    src: url("./../assets/fonts/Noto/NotoSansGeorgian-Black.ttf");
}