.paragraph-biggest {
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
    // letter-spacing: 1.1px;
    // line-height: 135%;
}

.paragraph-big {
    font-size: calc(17px + (22 - 17) * ((100vw - 300px) / (1900 - 700))) !important;
}

.paragraph-regular {
    font-size: calc(15px + (19 - 15) * ((100vw - 300px) / (1900 - 700))) !important;
}

.paragraph-medium {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 700))) !important;
}

.paragraph-small {
    font-size: calc(11px + (14 - 11) * ((100vw - 300px) / (1900 - 700))) !important;
}

/// =============================== HEADING

.heading-1 {
    font-size: calc(35px + (68 - 35) * ((100vw - 300px) / (1900 - 700))) !important;
}

.heading-2 {
    font-size: calc(32px + (40 - 32) * ((100vw - 300px) / (1900 - 700))) !important;
}

.heading-3 {
    font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1900 - 700))) !important;
}

.heading-4 {
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 700))) !important;
}

// ====================== IN VARIABLES
$paragraph-biggest: calc(16px + (22 - 16) * ((100vw - 300px) / (1900 - 700))) !important;
$paragraph-big: calc(16px + (19 - 16) * ((100vw - 300px) / (1900 - 700))) !important;

$paragraph: calc(13px + (17 - 13) * ((100vw - 300px) / (1900 - 700))) !important;

$paragraph-medium: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 700))) !important;
$paragraph-small: calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 700))) !important;